.btn {
    padding: 5px 15px;
    border: 1px solid transparent;
    border-radius: 40px;
}

.btn-white {
    @extend .btn;
    background-color: #efefef;
    color: #444;
    border-color: #efefef;
}

.btn-black {
    @extend .btn;
    background-color: #2f2f2f;
    color: #ddd;
    border-color: #2f2f2f;
}


.btn-transparent {
    @extend .btn;
    background-color: transparent;
}


.btn-login {
    @extend .btn;
    background-color: transparent;
    border-color: #ddd;
    color: #ddd;
    font-size: 18px;
}